QMainWindow{
    border-image:url(/home/agou-ops/PycharmProjects/myPyQT5-StudyNote/Main/Windows/images/python.jpg);
}

QToolTip {
   border:1px solid rgb(45,45,45);
   background:white;
   color:red
}